/* Описание состояний в блоке big-header */

.big-header {
  padding-top: 90px;
  min-height: 300px;
  min-width: 278px;
  background-color: @sky-blue-bg;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% bottom;
  background-size: cover;
}

/* Описание состояний в блоке big-header ^*/

/* Описание состояний в блоке big-header tablet*/

@media (min-width: @tablet-width) {
  .big-header {
    padding-top: 0;
    min-height: 518px;
    background-color: @sky-blue-bg;
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 100.1%;
    background-size: auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-tablet@2x.jpg");
      background-repeat: no-repeat;
      background-position: 50% 100.1%;
      background-size: auto, 100%;
    }
  }

  .big-header__text {
    width: 460px;
    height: 350px;
    margin-top: 77px;
    margin-left: 154px;
    margin-right: 154px;
    padding-bottom: 18px;
  }
}

@media (min-width: 768px) and (min-resolution: 144dpi),
  (min-width: 768px) and (min-resolution: 1.5dppx) {
  .big-header {
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-tablet@2x.jpg");
    background-size: 100% cover;
  }
}
/* Описание состояний в блоке big-header tablet^*/

/* Описание состояний в блоке big-header desktop*/
@media (min-width: @desktop-width) {
  .big-header {
    padding-top: 0;
    min-height: 518px;
    background-color: @sky-blue-bg;
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 100.1%;
    background-size: auto, cover;
  }

  .big-header__text {
    margin-top: 78px;
    margin-left: 370px;
    margin-right: 370px;
    padding-bottom: 18px;
  }
}
/* Описание состояний в блоке big-header desktop^*/
