
/* Описание состояний в блоке big-header */

.big-header {
  min-height: 300px;
  padding-top: 90px;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* Описание состояний в блоке big-header ^*/
