
/* Описание состояний в блоке feature-one */

.feature-one__promo {
  min-height: 160px;
  padding-top: 58px;
  padding-bottom: 10px;
  text-align: center;
  background-image: url(../img/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: 50% top;
  background-size: auto;
  background-color: @btn-color;
  color:@text-color--inner;
}

.feature-one__text {
  margin-bottom: 0px;
}

.feature-title--white {
  margin-bottom: 10px;
}

.feature-one__img-block {
  min-height: 260px;
}

.feature-one__fun-block {
  min-height: 404px;
  padding-top: 0px;
}

.feature-one__housing-block,
.feature-one__souvenirs-block,
.feature-one__food-block {
  padding-left: 50px;
  position: relative;
}

.feature-one__housing-block {
  padding-top: 10px;
}

.feature-one__housing-block::before {
  content: "";
  width: 37px;
  height: 36px;
  position: absolute;
  top: 20px;
  left: 0px;
  background-image: url(../img/icon-house.svg);
  background-repeat: no-repeat;
  background-size: 40px 35px;
  background-position: 0 0;
}

.feature-one__souvenirs-block {
  margin-top:22px;
}

.feature-one__souvenirs-block::before {
  content: "";
  width: 36px;
  height: 38px;
  position: absolute;
  top: -7px;
  left: 1px;
  background-image: url(../img/icon-gift.svg);
  background-repeat: no-repeat;
  background-size: 40px 35px;
  background-position: 0 0;
}

.feature-one__food-block {
  margin-top: 25px;

}

.feature-one__food-block::before {
  content: "";
  width: 40px;
  height: 35px;
  position: absolute;
  top: -2px;
  left: 1px;
  background-image: url(../img/icon-burger.svg);
  background-repeat: no-repeat;
  background-size: 40px 35px;
  background-position: 0 0;
}

.feature-one__food-text {
  margin-bottom: 0px;
}

/* Описание состояний в блоке feature-one ^*/

/* Описание состояний в блоке feature-one tablet*/

@media (min-width:@tablet-width){
.feature-one__promo {
  width: 176px;
  height: 196px;
  padding: 25px 40px 35px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-image:none;
}

.feature-one__text {
  margin-top: 25px;
  padding: 0px 10px 5px 10px;
}

.feature-one__img-block {
  margin-bottom: 60px;
}

.feature-one__fun-block {
  display: flex;
  margin-bottom: 52px;
}

.feature-one__housing-block,
.feature-one__souvenirs-block,
.feature-one__food-block {
  margin-top: 0px;
  padding-left: 0px;
  padding: 70px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.feature-one__souvenirs-block {
  order: 1;
}

.feature-one__housing-block::before {
  top: -5px;
  left: 90px;
  width: 75px;
  height: 72px;
  background-size: 75px 72px;
}

.feature-one__souvenirs-block::before {
  top: -10px;
  left: 97px;
  width: 64px;
  height: 75px;
  background-size: 64px 75px;
}

.feature-one__food-block::before {
  top: -2;
  left: 87px;
  width: 77px;
  height: 68px;
  background-size: 77px 68px;
}

.feature-one__housing-text,
.feature-one__souvenirs-text,
.feature-one__food-text {
  width: 167px;
  padding: 0 47.5px 0 47.5px;
  margin: 0px 2px  27px 0px;
  text-align: center;
}

.feature-one__housing-text {
  width: 160px;
}

.feature-one__souvenirs-text, {
  width: 167px;
}

.feature-one__food-text {
  width: 155px;
}

.feature-one__img-block {
  width: 512px;
  height: 256px;
  margin-bottom: 63px;
}

.feature-one__img {
  width: 100%;
  height: 256px;
}

.feature-one__fun-block {
  display: flex;
  margin-bottom: 36px;
  padding-top: 0px;
  min-height: auto;
}
}
/* Описание состояний в блоке feature-one tablet ^*/

/* Описание состояний в блоке feature-one desktop */
@media(min-width:@desktop-width){
.feature-one__promo {
  width: 273px;
  height: 160px;
  padding: 48px 62px 48px 65px;
}

.feature-one__title {
  width: 146px;
  margin: 5px 0px 10px 0px;
  padding: 0px 50px;
}

.feature-one__text {
  margin-top: 20px;
  padding: 0px 5px 5px 5px;
}

.feature-one__fun-block {
  margin-bottom: 56px;
}

.feature-one__housing-block::before {
  top: -5px;
  left: 160px;
  width: 75px;
  height: 72px;
  background-size: 75px 72px;
}

.feature-one__souvenirs-block::before {
  top: -10px;
  left: 168px;
  width: 64px;
  height: 75px;
  background-size: 64px 75px;
}

.feature-one__food-block::before {
  top: -2;
  left: 161px;
  width: 77px;
  height: 68px;
  background-size: 77px 68px;
}

.feature-one__title {
  width: 146px;
  padding: 0px 50px;
}

.feature-one__img-block {
  width: 800px;
  heigh: 256px;
}

.feature-one__housing-block,
.feature-one__souvenirs-block,
.feature-one__food-block {
  padding-left: 0px;
  width: 400px;
}

.feature-one__housing-text {
  width: 255px;
}

.feature-one__souvenirs-text {
  width: 214px;
}

.feature-one__food-text {
  width: 283px;
}


}
/* Описание состояний в блоке feature-one desktop ^ */
