
/* Описание состояний в feature-two__promo блоке*/

.feature-two__promo {
  min-height: 148px;
  padding-top: 27px;
  text-align: center;
  background-color: #81b3d2;
  color:#ffffff;
}

.feature-two__promo p {
  margin-bottom: 0px;
}

.feature-two__img {
  height: 260px;
  margin-bottom:-6px;
}
