
/* Описание состояний в feature-three блоке*/

.feature-three {
  min-height: 153px;
  padding-top: 15px;
  background-color: #eeeeee;
  text-align: center;
}

.feature-three p {
  margin-bottom: 0px;
}
