
/* Описание состояний в feature-two блоке*/

.feature-two__promo {
  min-height: 148px;
  padding: 28px 20px 20px 20px;
  text-align: center;
  background-color: @btn-color;
  color:#ffffff;
}

.feature-two__promo p {
  margin-bottom: 0px;
}

.feature-two__img {
  height: 260px;
  margin-bottom:-6px;
}
/* Описание состояний в feature-two блоке ^*/

/* Описание состояний в feature-two tablet*/
@media (min-width:@tablet-width){
.feature-two__promo{
  width: 176px;
  height: 196px;
  padding: 30px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.feature-two__title {
  margin: 10px 0px 0px 0px;
  padding: 0px 13px 0px 12px;
}

.feature-two p{
  margin-top: 10px;
  padding-bottom: 10px;
}

.feature-two__img-block {
  width: 512px;
  height: 260px;
  margin-bottom:-6px;
}

.feature-two__img {
  width: 100%;
  height: 256px;
}
}
/* Описание состояний в feature-two tablet^*/

/* Описание состояний в feature-two desktop*/
@media (min-width:@desktop-width){
.feature-two__promo {
  width: 216px;
  height: 148px;
  padding: 54px 92px 54px 92px;
}

.feature-two__title {
  margin-top: 0px;
  padding: 0px 32px 0px 33px;
}

.feature-two__promo p {
  margin-top: 15px;
  padding-bottom: 0px;
}

.feature-two__img-block {
  width: 800px;
  height: 260px;

}
}
/* Описание состояний в feature-two desktop*/
