
/* Описание состояний в feature-three блоке*/

.feature-three {
  min-height: 153px;
  padding-top: 15px;
  background-color: @bg-color--inner;
  text-align: center;
}

.feature-three__text {
  width: 160px;
  margin:auto;
  padding-top: 14px;
}

.feature-three p {
  margin-bottom: 0px;
}
