
/* Описание состояний в feature-five блоке*/

.feature-five {
  min-height: 153px;
  padding-bottom: 10px;
  background-color: @bg-color--inner;
  text-align: center;
}

.feature-five__block {
  margin:auto;
  padding: 14px 15px 10px 15px;
}

.feature-five__title {
  margin: 10px;
}

.feature-five__text {
  margin-bottom: 0px;
}

@media (min-width:@tablet-width) {

.feature-five {
  padding: 15px 0px 0px 0px;
}

.feature-five__block {
  margin: 30px 10px 10px 10px;
  padding: 0px 40px;
}

.feature-five__title {
  margin: 0px 10px 10px 10px;
}

.feature-five__text {
  height: 63px;
  margin-top: 20px;
  overflow: hidden;
}
}

@media (min-width:@desktop-width) {

  .feature-five__block {
    margin: 30px 10px 10px 10px;

  }

.feature-five__title {
  padding: 0px 120px;
}

.feature-five__text {
  padding: 0px 20px;
}
}
