
/* Описания состояний в gellary-photo */

.gallery-photo__box {
  margin: 0;
  height: 415px;
}

.gallery-photo__img {
  width: 280px;
  height: 280px;
}

.gallery-photo__stat {
  padding-left: 14px;
  position: relative;
}

.gallery-photo__author {
  max-width: 280px;
  max-height: 22px;
  overflow: hidden;
}

.gallery-photo__like {
  width: 23px;
  height: 21px;
  opacity: 0.5;
  cursor: pointer;
}

/* Описания состояний в gellary-photo ^ */

/* Описания состояний в gellary-photo tablet */
@media (min-width: @tablet-width) {
  .gallery-photo {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 75px;
  }

  .gallery-photo__caption {
    display: flex;
    justify-content: space-between;
    height: 80px;
    margin-top: -6px;
    background-color: @bg-color--inner;
  }

  .gallery-photo__box {
    width: 324px;
    height: 347px;
  }

  .gallery-photo__box--big {
    width: 648px;
    height: 480px;
  }

  .gallery-photo__img {
    width: 100%;
    height: 267px;
  }

  .gallery-photo__img--big {
    height: 400px;
  }

  .gallery-photo__title {
    margin: 14px auto 5px 21px;
  }

  .gallery-photo__author {
    margin: 5px auto 14px 21px;
    max-width: 280px;
    max-height: 30px;
    overflow: hidden;
  }

  .gellary-photo__like-box {
    width: 70px;
    height: 35px;
    margin-top: 25px;
    margin-right: 15px;
  }

  .gallery-photo__stat {
    padding-left: 9px;
  }
}
/* Описания состояний в gellary-photo tablet */

/* Описания состояний в gellary-photo desktop */
@media (min-width: @desktop-width) {
  .gallery-photo {
    margin-bottom: 82px;
  }

  .gallery-photo__box {
    width: 400px;
    height: 267px;
    position: relative;
  }

  .gallery-photo__box--big {
    width: 1200px;
    height: 400px;
  }

  .gallery-photo__caption {
    position: absolute;
    width: 400px;
    height: 80px;
    top: 193px;
    left: 0;
    color: @text-color--inner;
    background-color: rgba(0, 1, 1, 0.3);
  }

  .gallery-photo__caption--big {
    width: 1200px;
    height: 80px;
    top: 325px;
    left: 0;
  }

  .gallery-photo__title {
    margin: 19px auto 2px 22px;
    color: @text-color--inner;
  }

  .gallery-photo__author {
    margin: 2px auto 14px 21px;
  }

  .gellary-photo__like-box {
    margin-top: 28px;
  }

  .gallery-photo__like {
    fill: @text-color--inner;
    opacity: 1;
  }

  .title--small {
    color: @text-color--inner;
  }

  .added-color {
    color: @text-added-color;
  }
}
/* Описания состояний в gellary-photo desktop ^*/
