
/* Описания состояний в gellary-photo */

.gallery-photo__box {
  margin: 0px;
  height: 415px;
}
.gallery-photo__img {
  width: 280px;
  height: 280px;
}

.gallery-photo__like {
  padding-left: 35px;
  position: relative;
}

.gallery-photo__like::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 20px;
  top: 5;
  left: 0;
  background-image: url(../img/icon-like.svg);
  opacity: 0.3;

}

/* Описания состояний в gellary-photo ^ */

/* Описания состояний в gellary-photo tablet */
@media (min-width:@tablet-width) {
.gallery-photo {
  display: flex;
  flex-wrap: wrap;
}

.gallery-photo__caption {
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin-top: -6px;
  background-color: @bg-color--inner;
}

.gallery-photo__box {
  width: 324px;
  height: 347px;
}

.gallery-photo__box--big{
  width: 648px;
  height: 480px;
}

.gallery-photo__img {
  width: 100%;
  height: 267px;
}

.gallery-photo__img--big {
  height: 400px;
}

.gallery-photo__title {
  margin: 14px auto 8px 21px;
}

.gallery-photo__author {
  margin: 8px auto 14px 21px;
}

.gallery-photo__like {
  margin: 28px 22px 28px 0px;
  padding-left: 35px;
}
}
/* Описания состояний в gellary-photo tablet */

/* Описания состояний в gellary-photo desktop */
@media (min-width:@desktop-width) {
  .gallery-photo__box {
    width: 400px;
    height: 267px;
    position: relative;
  }

  .gallery-photo__box--big{
    width: 1200px;
    height: 400px;
  }

.gallery-photo__caption {
  position: absolute;
  width: 400px;
  height: 80px;
  top: 193px;
  left:0px;
  color: @text-color--inner;
  background-color: rgba(0, 1, 1, 0.3);
}

.gallery-photo__caption--big {
  width: 1200px;
  height: 80px;
  top: 325px;
  left:0px;
}

.gallery-photo__title {
  color: @text-color--inner;
}

.gallery-photo__like {
  color: @text-color--inner;
}

.gallery-photo__like::before {
  fill: @text-color--inner;
}



}
/* Описания состояний в gellary-photo desktop ^*/
