
/* Описание состояний в page-header */

.page-header__logo {
  position: relative;
}

.page-header__logo-image {
  position: absolute;
  top: 0px;
  right: 109px;
}
/* Описание состояний в page-header ^*/

/* Описание состояний в page-header tablet*/

@media (min-width: 768px){
  .page-header {
    min-width: 768px;
  }

  .page-header__logo-image {
    position: absolute;
    top: -60px;
    right: 335px;
  }
}

@media (min-width: 1200px){

}

/* Описание состояний в page-header tablet ^ */
