.page-main__promo--intro {
  min-height: 200px;
  padding-top: 40px;
  text-align: center;
}

.page-main__promo-title {
  margin-bottom: 35px;
}

.page-main__promo--search{
  min-height: 288px;
  padding-top: 30px;
  text-align: center;
}

.page-main__promo--search p {
  padding-top: 26px;
  padding-bottom: 30px;
}

.btn {
  display: table-cell;
  width: 280px;
  height: 58px;
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px
}
