
/* Описание состояний в page-main*/

.page-main__promo--intro {
  min-height: 200px;
  padding-top: 40px;
  text-align: center;
}

.page-main__promo-title {
  margin-bottom: 35px;
}

.title-feature--white,
.feature-one__title {
  color:#ffffff;
}

.page-main__promo--search{
  min-height: 288px;
  padding-top: 30px;
  text-align: center;
}

.page-main__promo--search p {
  padding-top: 26px;
  padding-bottom: 30px;
}

/* Описание состояний в page-main ^*/

/* Описание состояний в page-main tablet*/

@media (min-width: 768px){
.page-main {
  min-width: 768px;
  display: flex;
  flex-wrap: wrap;
}

.page-main__promo--intro{
  min-width: 768px;
}

.page-main__feature {
  display: flex;
  flex-wrap: wrap;
}

.page-main__feature--rev {
  flex-direction:row-reverse;
}

.page-main__feature--gray {
  width: 256px;
  height: 256px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px;
}

.title-feature {
  width: 200px;
}

.page-main__promo--search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
}

/* Описание состояний в page-main tablet ^*/

/* Описание состояний в page-main desktop*/

@media (min-width: 1200px){
.page-main {
  min-width: 1200px;
}

.page-main__promo--intro {
  min-width: 1200px;
}

.page-main__feature--gray {
  width: 400px;
  height: 256px;
}

.title-feature {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.page-main__promo--search p {
  width: 1200px;
}

.page-main__comment {
  width: 1200px;
}
}

/* Описание состояний в page-main desktop*/

/* Cтили в page-main в photo.html */

.page-main__gallery-promo {
  min-height: 146px;
  text-align: center;
  padding-top: 44px;
}

.page-main__gallery-promo p {
  margin-bottom: 0px;
}

/* стили в page-main в photo.html ^ */

/* стили в page-main в form.html*/
.page-main__comment {
  min-height: 162px;
  padding-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.page-main__comment-title {
  margin-bottom: 32px;
}

/* стили в page-main в form.html ^ */
