
/* Описание состояний в page-footer */

.page-footer {
  min-height: 233px;
  text-align: center;
  padding-top: 30px;
}

.page-footer__hashtag-sedona {
  margin-bottom: 38px;
}

.page-footer__developed {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__title {
  margin-right: 11px;
  text-transform: uppercase;
}
/* Описание состояний в page-footer ^*/

/* Описание состояний в page-footer tablet */
@media (min-width: 768px){
 .page-footer {
  min-height: 120px;
  min-width: 768px;
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
}
/* Описание состояний в page-footer tablet ^*/

/* Описание состояний в page-footer desktop */
@media (min-width: 1200px){
.page-footer {
 min-width: 1200px;
 min-height: 120px;
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
}
/* Описание состояний в page-footer desktop ^ */
