
/* Описание состояний в page-header */
.photo-page .page-header {
  margin-bottom: 20px;
}

.form-page .page-header {
  margin-bottom: 0px;
}

.page-header__logo {
  position: relative;
}

.page-header__logo-image {
  position: absolute;
  width: 102px;
  height: 83px;
  top: 0px;
  right: 109px;
}
/* Описание состояний в page-header ^*/

/* Описание состояний в page-header tablet*/

@media (min-width: @tablet-width){
  .page-header {
    min-width: 768px;
  }

  .photo-page .page-header {
    margin-bottom: 48px;
  }

  .form-page .page-header {
    margin-bottom: 30px;
  }

  .page-header__logo-image {
    position: absolute;
    width: 102px;
    height: 83px;
    top: -60px;
    right: 335px;
  }
}
/* Описание состояний в page-header tablet ^*/

/* Описание состояний в page-header desktop*/
@media (min-width: @desktop-width) {
  .page-header {
    min-width: 1200px;
  }

  .photo-page .page-header,
  .form-page .page-header {
    margin-bottom: 85px;
  }

  .page-header__logo-image {
    position: absolute;
    width: 188px;
    height: 96px;
    top: -60px;
    right: 505px;
  }
}

/* Описание состояний в page-header desktop ^ */
