/* Всплывающее окно с ошибкой */
.popup-error{
  width: 208px;
  height: auto;
  padding: 42px 56px 0px 56px;
  position: absolute;
  top: 1100px;
  right: 0px;
  z-index: 1;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  background-color: #ffffff;
  text-align: center;
}
.popup-error__title {
  margin-top: 0px;
  margin-bottom: 27px;
}

.popup-error__text {
  margin-bottom: 25px;
}

.popup-error__btn{
  width: 180px;
  height: 58px;
  margin-bottom: 35px;
}
/* Всплывающее окно с ошибкой ^ */
