
/* Описание состояний в small-header */

.small-header {
  min-height: 105px;
  padding-top:55px;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 80% 80%;
}

.small-header__text {
  margin: 0px 25px;
}
