
/* Описание глобальных настроек */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0px;
  overflow: hidden;
  white-space: nowrap;
  border: 0px;
  clip-path: inset(100%);
  clip:rect(0 0 0 0);
}

body {
  min-width: 320px;
  margin:0px;
  padding:0px;
  font-family: "PT Sans",Arial,sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  background: white;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

header,
main,
footer {
  width: 280px;
  outline: 1px solid #ff43a4;
}

section {
  outline: 1px solid #ff43a4;
}

.main-container {
  margin:0 auto;
  padding-right: 20px;
  padding-left: 20px;
}
